<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <div class="container">
        <h2 class="notification"></h2>
        <div class="grid">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
        <div class="stats">
            <h4>You: <span class="player">0</span></h4>
            <h4>Opponent: <span class="opponent">0</span></h4>
            <h4>Draw: <span class="draw">0</span></h4>
        </div>
    </div>
    <div class="modal">
        <div class="modal-content">
            <div class="modal-box difficulty-container">
                <div class="modal-choice difficulty">EASY</div>
                <div class="modal-choice difficulty">HARD</div>
            </div>
            <div class="modal-box choice-container hidden">
                <div class="modal-choice tile">X</div>
                <div class="modal-choice tile">O</div>
            </div>
        </div>
    </div>
</body>
</html>